        <%- include('partials/header') %>
        <%- include('partials/navbar') %>

        <div class="jumbotron">
            <h1><%= title %></h1>
            <p class="lead">Check out our articles below!</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="list-group">
                    <% if (fields.length) { %>

                    <div class="well bs-component">
                     <%- include('partials/form')  %>
                    </div>
                   <% } %>

                </div>
            </div>
        </div>


        <%- include('partials/footer') %>
