<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="jumbotron">
    <h1><%= title %></h1>
    <ul>
        <% if (tickets.length) { %>
            <% tickets.forEach(function(ticket){ %>
                <li><%= ticket.name %></li>
            <% }); %>
       <% } %>
    </ul>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="list-group">

            <div class="well bs-component">
                <%- include('../partials/form')  %>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/footer') %>
