<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="jumbotron">
    <h1><%= title %></h1>
    <section>
        <%= body %>

        <h4><b>Автор:</b> <%= userInfo.name %></h4>
        <h4><b>Номер:</b> + <%= userInfo.phone %></h4>
    </section>
    <section>
        <div class="row">
            Оставлено предложенний:
            <%= offersInfo.length %>
        </div>
    </section>
    <br><br>
    <div class="row">
        <% if (canOffer) { %>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="list-group">


                    <div class="well bs-component">
                        <%- include('../partials/form')  %>
                    </div>

                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>
