<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="jumbotron">
    <h1><%= title %></h1>
    <ul>
        <% if (locals.tickets.length) { %>
            <% tickets.forEach(function(ticket){ %>
                <li><a href="/ticket/<%= ticket._id %>"> <%= ticket.name %></a></li>
            <% }); %>
       <% } %>
    </ul>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="list-group">
            <% if (locals.fields) { %>
                <div class="well bs-component">
                    <%- include('../partials/form')  %>
                </div>
            <% } %>

        </div>
    </div>
</div>
<%- include('../partials/footer') %>
